@page
@model PizzaData.Pages.Flours.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Flours</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flours.FlourName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flours.FlourName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flours.FlourType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flours.FlourType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flours.Protein)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flours.Protein) %
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flours.Strength)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flours.Strength)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flours.Elasticity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flours.Elasticity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flours.FlourDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flours.FlourDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Flours?.Id" class="btn btn-warning">Edit</a> 
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>
